ARI_BASE_URL=https://asterisk.example.com:8089
ARI_MEDIA_APP=extmedia-ai
ARI_USER=ari_user
ARI_PASS=changeme
ARI_VERIFY_SSL=0

BRIDGE_TYPE=mixing,proxy_media

RTP_ADVERTISE_HOST=1.2.3.4
RTP_PORT=18080
EXT_MEDIA_FORMAT=alaw
